.card {
  background-color: #f5f5f5;
  color: #083542;
  text-align: center;
}

.card-title {
  margin-bottom: 1em;
}

.btn-primary {
  background-color: #b8e1ff;
  color: #083542;
  border-color: #b8e1ff;
}

.btn-primary:hover {
  background-color: #96d3ff;
  color: #083542;
  border-color: #96d3ff;
}

.correct {
  color: #00a676;
}

.incorrect {
  color: #ff5e5b;
}
